export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo "#!/usr/local/bin/fish" > "$target"
  echo "$@ \$argv" >> "$target"
  chmod +x "$target"
}

export_alias create "$PWD/create"
